.top-nav {
  position: sticky;
  z-index: 100; /* Lower z-index than sidebar */
  top: 0;
  background-color: black;
}

.nav-bar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: white;
}

.nav-bar ul li {
  padding: 20px;
}

.nav-bar ul li:first-child {
  margin-right: auto;
}

.nav-bar ul li button.login {
  width: 10rem;
  height: 3rem;
  border-radius: 10%;
  font-weight: bold;
  background-color: blueviolet;
}

.nav-bar ul li button.login:hover {
  background-color: white;
}

.nav-bar ul li:hover {
  color: blueviolet;
  cursor: pointer;
}

/* Sidebar adjustments */
.sidebar {
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  font-size: 18px;
  color: white;
  width: 250px;
  display: flex !important;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  z-index: 1001; /* Higher than top-nav */
  background-color: #333; /* Background color for sidebar */
  transition: transform 0.3s ease-in-out; /* Smooth transition */
  transform: translateX(0); /* Initially in place */
}

.hide-sidebar {
  transform: translateX(100%); /* Move off screen to the right */
}

.sidebar li {
  width: 100%;
  list-style: none;
  margin: 28px 2px 2px 2px;
}

@media screen and (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .hideOnBigScreens {
    display: none;
  }
}
