.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.hero-img {
  width: 50%;
}

.hero-content {
  width: 50%;
  text-align: justify!important;
}

.know {
  width: 9.5rem;
  height: 3rem;
  color: white !important;
  border-radius: 20px;
  margin: 20px;
  text-align: center;
}

@media screen and (max-width:800px) {
  .hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}